.left{
  float: left;
  width: 29%;
  background-color: red;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border: solid black  3px;
}
.centre{
  display: inline-block;
  width: 29%;
  background-color:green;
  border: solid black  3px;
}
.right{
  float: right;
  width: 29%;
  background-color: blue;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border: solid black  3px;
}
.middle{
  text-align: center;
}
body{
  background-color: gold;
}
.header{
  color: gold;
  text-align: center;
}
.text{
  padding: 20px;
}
